<?xml version="1.0" encoding="utf-8"?>
<DataType Key="97e36e03-19fb-4349-b07e-ff2efb6df507" Alias="IconPicker" Level="1">
  <Info>
    <Name>IconPicker</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Umbraco.Community.IconPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "spriteLocation": "/svgsprites/example-sprite.svg"
}]]></Config>
</DataType>